# Importing and Exporting Data in Python 4:13

### - Using Pandas for the first time

+ Great datasets source: https://archive.ics.uci.edu/ml/index.php

In [1]:
import pandas as pd #importing the pandas library

#where the data is stored
data_dir = 'Data/imports-85.data'

#reading the data
data = pd.read_csv(data_dir, header=None) #because in our case the data has no header

In [2]:
#printing the data
#dataframe prints the whole data
#to save time we can use data.head(n) to show the first  n rows only or 
#data.tail(n) to show last n rows
#by default n = 5
data.head(2)

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500

In [4]:
header = ['symboling:',               
  'normalized-losses:',        
  'make:'             ,  
  ' fuel-type: ',        
  'aspiration:'       ,        
  'num-of-doors:'     ,        
  'body-style:'       ,        
  'drive-wheels:'     ,        
  'engine-location:'  ,        
 'wheel-base:'       ,        
 'length:'           ,        
 'width:'            ,        
 'height:'           ,        
 'curb-weight:'      ,        
 'engine-type:'      ,        
 'num-of-cylinders:' ,        
 'engine-size:'      ,        
 'fuel-system:'      ,        
 'bore:'             ,        
 'stroke:'           ,        
 'compression-ratio:',        
 'horsepower:'       ,        
 'peak-rpm:'         ,        
 'city-mpg:'         ,        
 'highway-mpg:'      ,        
 'price:'         ]      
print(len(header))

26

In [6]:
#passing the list of headers to replace the auto-generated indexes by pandas
data.columns = header

In [8]:
#showing the dataframe again after adding the header
data.head(2)

,symboling:,normalized-losses:,make:,fuel-type:,aspiration:,num-of-doors:,body-style:,drive-wheels:,engine-location:,wheel-base:,...,engine-size:,fuel-system:,bore:,stroke:,compression-ratio:,horsepower:,peak-rpm:,city-mpg:,highway-mpg:,price:
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500

In [12]:
#now let's save the new dataframe into a file 
saving_path = 'Data/automobile.csv'
data.to_csv(saving_path)

# Getting Started Analyzing Data in Python 4:14

### - Famous Pandas DataTypes
<table style="text-align:center">
    <tr style="background:black;color:white">
        <td><strong>Pandas type</strong></td>
        <td><strong>Native Python type</strong></td>
        <td><strong>Description</strong></td>
    </tr>
    <tr>
        <td>Object</td>
        <td>String</td>
        <td>numbers and strings</td>
    </tr>
    <tr>
        <td>int64</td>
        <td>int</td>
        <td>numeric characters(integers)</td>
    </tr>
    <tr>
        <td>float64</td>
        <td>float</td>
        <td>numeric characters(decimals)</td>
    </tr>
    <tr>
        <td>datetime64, timedelta</td>
        <td>N/A (but you can check out the datetime library in python)</td>
        <td>dates and times</td>
    </tr>
</table>

+ Why Check Datatypes in a dataset?

In [1]:
print("this code was made on my galaxy j7")

this code was made on my galaxy j7